%h3 Type of week: #{week_type}

.table-responsive
  %table.table
    %thead
      %tr
        %th= t('.day_of_week')
        %th= t('.lecture_number')
        %th= t('.subject')
        %th= t('.group')
        %th= t('.lecture_room')

    = render partial: 'day_of_week', collection: @days_of_week, locals: { type_of_week: week_type }