= form_for(@lecture_room, html: {class: 'form-horizontal'}) do |f|

  .form-group
    .col-md-2
      = f.label :name
    .col-md-5
      = f.text_field :name, class: 'form-control', autofocus: true, required: true

  .form-group
    .col-md-2
      = f.label :capacity
    .col-md-5
      = f.number_field :capacity, class: 'form-control', min: 0

  .form-group
    .col-md-2
      = f.label :description
    .col-md-5
      = f.text_area :description, class: 'form-control', rows: 7

  .col-md-offset-2
    = f.submit class: 'btn btn-primary'