= render 'shared/navbar', active: 'lecture_rooms'

%table.table.table-striped
  %thead
    %tr
      %th= t('.name')
      %th= t('.capacity')
      %th= t('.description')
      %th= t('.actions')
  %tbody
    = render @lecture_rooms
= link_to t('.add_lecture_room'), new_lecture_room_path, class: 'btn btn-primary'
%br

=paginate @lecture_rooms